<!DOCTYPE html>
<html lang=”en” xmlns:th=”https://www.thymeleaf.org”>
<head>
    <meta charset=”UTF-8”/>
    <title>Title</title>
</head>
<body>

<!--User login dropdown start -->
<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="profile-ava">
            <img alt="" src="@{ '/img/photos' +  ${#authentication.getPrincipal().getUsername()} + '.jpg' }">
        </span>
        <span class="username" th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>
        <b class="caret"></b>
    </a>

</li>
<body>
<h1>Teams List</h1>
    <a href="/add"> Add a Team</a>
        <div th:each="team : ${teams}">
            <h2 th:text="${team.name}"></h2>
                <h6 th:text="text">specializing in [[${team.players}}}</h6>
                    <ul>
        <th:block th:each="movie : ${team.players}">
            <li th:inline="text"><b>[[${player.firstname}]]</b>
                current age is [[${player.age}]].<li>
            </th:block>
        </ul>
    </div>
</body>
</html>